volumes:
  hono_postgresql:
    driver: local

services:
  hono-postgresql:
    restart: unless-stopped
    image: postgres:17.4
    container_name: hono-postgresql
    volumes:
      - hono_postgresql:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
